name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download APK
        run: wget -O StorySave.apk "https://www.apkmirror.com/wp-content/themes/APKMirror/download.php?id=825476&key=20424ec637e167ac163dfe24ad124f799f2023b0"

      - name: Build Docker image
        run: docker build -t apk-builder .

      - name: Run build script inside Docker
        run: docker run --rm -v ${{ github.workspace }}:/app apk-builder bash build.sh

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: modded-apk
          path: aligned.apk
